<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <span><mat-icon class="logo">eco</mat-icon></span>
        <a class="navbar-brand" href="#">PHARMACY</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              Danh mục
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/product-list']">Dược phẩm</a>
                <ul>
                  <li><a href="#" class="dropdown-item">Thuốc không kê đơn</a></li>
                  <li><a href="#" class="dropdown-item">Thuốc kê đơn</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Sản phẩm tiện lợi</a>
                <ul>
                  <li><a href="#" class="dropdown-item">Hàng tổng hợp</a></li>
                  <li><a href="#" class="dropdown-item">Hàng bách hóa</a></li>
                </ul>
              </li>

              <li><a class="dropdown-item" href="#">Thực phẩm chức năng</a>
                <ul>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm dạ dày</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm tim</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm đường</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm hô hấp</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm thần kinh</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm cơ xương khớp</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm giảm cân</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm chăm sóc sắc đẹp</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm chăm sóc sức khỏe nam và nữ</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm Mắt/Tai/Mũi</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Vitamin tổng hợp và khoáng chất</a></li>
                  <li><a href="#" class="dropdown-item">TPCN chăm sóc tóc</a></li>
                  <li><a href="#" class="dropdown-item">TPCN cho gan</a></li>
                  <li><a href="#" class="dropdown-item">TPCN Nhóm khác</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Chăm sóc sắc đẹp</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Bạn tìm gì ở đây" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
          <div class="shop-cart">
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
          </div>
        </form>
      </div>
      <div class="directive">
        <span><mat-icon class="cart">
          shopping_cart
          </mat-icon></span>
        <a href="#" mat-button>Giỏ hàng</a>
        <a href="#" mat-button>Đăng nhập</a>
        <a href="#" mat-raised-button color="accent">Đăng ký</a>
      </div>
    </div>
  </nav>



