.container{
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.m-b-16{
  margin-bottom: 16px !important;
}

.txt-center{
  text-align: center !important;
}

h2{
  text-transform: capitalize;
  margin-top: 0;
  font-family: inherit;
}

h2 .fs-p-24{
  font-size: 24px;
  line-height: 32px;
}

.f-w-500{
  font-weight: 500;
}

.txt-gray-800{
  color: #1e293b
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.reset-col{
  margin-bottom: 16px;
}

.col-2{
  flex: 0 0 17%;
  max-width: 17%;
}

.list1 .reset-col:ntn-child(odd)>.product{
  box-shadow: 0 0 0 1px #e8f5fd;
  background-color: #e8f5fd;
}

.radius-12{
  border-radius: 12px;
}

.p-x-12{
  padding-left: 12px;
  padding-right: 12px;
}

.p-y-12{
  padding-top: 12px;
  padding-bottom: 12px;
}

a{
  cursor: pointer;
}

.product-image{
  padding: 0 26px;
}

.truncate2{
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.fs-p-16{
  font-size: 16px;
  line-height: 24px;
}

.txt-gray-700{
  color: #334155;
}

.txt-gray-600{
  color: #52637a;
}
