<div class="container p-x-md-0">
  <div class="box-title txt-center p-l-md-10 m-b-md-10">
    <h2 class="fs-p-24 f-w-500 txt-gray-800 fs-p-md-20 mt-5">Danh mục nổi bật</h2>
  </div>
  <div class="box-content cate-list-tmp p-l-md-12 scollX-mobile ml-5">
    <div class="row reset-row list1">
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/sinh-ly-noi-tiet-to.png" alt="Sinh lý - Nội tiết tố">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncatee2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Sinh lý - Nội tiết tố</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">130 sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/images/category/20220624120650-9722.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Sức khỏe tim mạch</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">81 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/ho-tro-tieu-hoa.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Hỗ trợ tiêu hóa</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">169 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/than-kinh-nao.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Thần kinh não</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">141 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/cai-thien-tang-cuong-chuc-nang.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Cải thiện tăng cường chức năng</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">312 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/cham-soc-rang-mieng.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Chăm sóc răng miệng</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">312 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/cham-soc-da-mat.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Chăm sóc da mặt</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">279 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/cham-soc-toc-da-dau.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Chăm sóc tóc - da đầu</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">95 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/images/category/20220624120646-2097.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Chăm sóc oơ thể</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">228 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/ho-tro-tinh-duc.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Hỗ trợ tình dục</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">38 Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/upload/images/filtercate/ve-sinh-ca-nhan.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Vệ sinh cá nhân</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">134Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 reset-col">
        <div class="product hover-product transition  radius-12 txt-center m-b-md-8">
          <a href="#" class="p-x-12 p-y-12 m-b-16 p-x-md-4 p-y-md-8 m-b-md-0">
            <div class="product-image txt-center m-b-12 m-b-md-8">
              <picture>
                <img class="loaded" src="https://cdn.nhathuoclongchau.com.vn/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://nhathuoclongchau.com.vn/images/category/20220624120605-4612.png" alt="">
              </picture>
            </div>
            <div class="product-info txt-center">
              <h4 class="product-name truncate2 fs-p-16 txt-gray-700 hover-link fs-p-md-13">Dụng cụ y tế</h4>
              <div class="product-count txt-uppercase txt-gray-600 fs-p-14 block-none">134Sản phẩm</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
