.container {
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding-bottom: 32px;
	padding-top: 1px;
	margin-top: 24px;
	border-radius: 16px;
}
.ml-5 {
	margin-left: 5rem;
	margin-right: 3rem;
}
.m-b-16 {
	margin-bottom: 16px !important;
}
.txt-center {
	text-align: center !important;
}
h2 {
	text-transform: capitalize;
	margin-top: 2rem;
	font-family: inherit;
	.fs-p-24 {
		font-size: 24px;
		line-height: 32px;
	}
}
.f-w-500 {
	font-weight: 500;
}
.txt-gray-800 {
	color: #1e293b;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
}
.reset-col {
	margin-bottom: 16px;
}
.col-2 {
	max-width: 17%;
	box-shadow: 2px 3px 3px 2px #dce1e1;
	border-radius: 16px;
	border: 1px solid #dce1e1;
	background-color: #fef7dc;
	&:hover {
		background-color: #e8f5fd;
	}
}
.radius-12 {
	border-radius: 12px;
	&:hover {
		color: #e8f5fd;
	}
}
.p-x-12 {
	padding-left: 12px;
	padding-right: 12px;
}
.p-y-12 {
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
}
a {
	cursor: pointer;
}
.product-image {
	padding: 0 26px;
}
.truncate2 {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}
.fs-p-16 {
	font-size: 16px;
	line-height: 24px;
}
.txt-gray-700 {
	color: #334155;
}
.txt-gray-600 {
	color: #52637a;
}
