//colors
$primary-color: #185951;
$secondary-color: #F5F5F5;
$blackish-color: #141616;
$greyish-color: #646867;
$secondary-grey: #e8e8e8;
$white-color: #FFFFFF;
$yellowish-color: #F6D06D;
$greenish-color: #29873c;
$blueish-color: #ebf2f5;

// font sizing
$font-size54: 54px;
$font-size16: 16px;
$font-size18: 18px;
$font-size20: 20px;
$font-size22: 22px;
$font-size24: 24px;

//spacing
$main-padding: 16px;
$secondary-padding: 20px;
$tertiary-padding: 24px;
$zero-padding: 0px;
