<!-- <p>product-detail works!</p> -->
<div class="container mt-5">
  <div class="product-content">
    <section class="gallery">
      <div class="img-section">
        <div class="img-container">
          <img src="./assets/img/items/it_1.jpg" id="preview">
          <div class="img-prev text-center">
            <div class="img-slide active">
              <img src="./assets/img/items/it_1.jpg" appDetail>
            </div>
            <div class="img-slide">
              <img src="./assets/img/items/it_1.1.webp" appDetail>
            </div>
            <div class="img-slide">
              <img src="./assets/img/items/it_1.2.webp" appDetail>
            </div>
            <div class="img-slide">
              <img src="./assets/img/items/it_1.3.webp" appDetail>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="detail-section">
      <h1 class="product-name">
        Viên uống Active Legs New Nordic giúp tăng cường lưu thông tuần hoàn máu (15 viên)
      </h1>
      <div class="product-description">
        <h2>Danh mục</h2>
        <a href="!#">Sức khỏe tim mạch</a>
        <h2>Dạng bào chế</h2>
        <p>Viên nén</p>
        <p>Thụy Điển</p>
        <h2>Hỗ trợ</h2>
        <p> Tê chân, giãn tĩnh mạch, Huyết khối, Suy giảm tuần hoàn máu, Giãn tĩnh mạch chi dưới, Đau chân/p>
      </div>
      <select name="" id="">
        <option value="">Select Size</option>
        <option value="">350ml</option>
        <option value="">500ml</option>
      </select>
      <div class="product-count">
        <button><i class="fas fa-minus"></i></button>
        <input type="text">
        <button><i class="far fa-plus"></i></button>
      </div>
      <div class="mb-5">
        <button class="btn btn-add-cart">Thêm vào giỏ hàng</button>
        <button class="btn btn-success">Mua ngay</button>
      </div>
    </div>
  </div>
</div>
