<!-- <div style="max-width: 400px; padding: 4em;"> -->
<div class="mt-5">
  <ul class="product list-item">
    <li *ngFor="let eachproduct of products;">
      <mat-card style="box-shadow: 0 0 12px #aaa; border-radius: 12px; cursor: pointer; padding: 12px; display: block; box-sizing: border-box; transform: scale(1); max-width: 300px; padding: 2rem; margin: 0 auto">
        <mat-card-header>
          <img
          [src]="eachproduct.productSrc"
          style="height: 200px; width: 200px; margin: 0 auto" mat-card-xl-image>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle>
            <p>Siro Healthy New Kids hỗ trợ kích thích tiêu hóa, giúp ăn ngon (120ml)</p>
          </mat-card-subtitle>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>
<!-- </div> -->
