<mat-card [routerLink]="['/product-list']" style="margin-left: 5rem;">
  <mat-card-header>
    <img src="./assets/img/products/pd_1.jpg" style="height: 200px; width: 200px; margin: 0 auto" mat-card-xl-image>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>
      <p>Siro Healthy New Kids hỗ trợ kích thích tiêu hóa, giúp ăn ngon (120ml)</p>
    </mat-card-subtitle>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </mat-card-content>
</mat-card>
<mat-card [routerLink]="['/product-list']">
  <mat-card-header>
    <img src="./assets/img/products/pd_2.webp" style="height: 200px; width: 200px; margin: 0 auto" mat-card-xl-image>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>
      <p>Siro Healthy New Kids hỗ trợ kích thích tiêu hóa, giúp ăn ngon (120ml)</p>
    </mat-card-subtitle>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </mat-card-content>
</mat-card>
<mat-card [routerLink]="['/product-list']">
  <mat-card-header>
    <img src="./assets/img/products/pd_3.webp" style="height: 200px; width: 200px; margin: 0 auto" mat-card-xl-image>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>
      <p>Siro Healthy New Kids hỗ trợ kích thích tiêu hóa, giúp ăn ngon (120ml)</p>
    </mat-card-subtitle>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </mat-card-content>
</mat-card>
<mat-card [routerLink]="['/product-list']">
  <mat-card-header>
    <img src="./assets/img/products/pd_4.jpg" style="height: 200px; width: 200px; margin: 0 auto" mat-card-xl-image>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle>
      <p>Siro Healthy New Kids hỗ trợ kích thích tiêu hóa, giúp ăn ngon (120ml)</p>
    </mat-card-subtitle>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </mat-card-content>
</mat-card>
