   <mat-accordion>
      <h2>Sinh lý nội tiết tố</h2>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sinh lý nữ
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a href=""><p>Mãn kinh nữ</p></a>
        <a href=""><p>Suy giảm nội tiết tố</p></a>
        <a href=""><p>Rối loạn kinh nguyệt</p></a>
        <a href=""><p>Hiếm muộn</p></a>
        <a href=""><p>Khô âm đạo</p></a>
        <a href=""><p>Suy giảm tình dục</p></a>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sinh lý nam
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a href=""><p>Mãn dục nam</p></a>
        <a href=""><p>Xuất tinh sớm</p></a>
        <a href=""><p>Yếu sinh lý</p></a>
        <a href=""><p>Suy giảm chức năng sinh dục</p></a>
        <a href=""><p>Rối loạn cương dương</p></a>
      </mat-expansion-panel>
    </mat-accordion>

