<footer class="bg-dark text-light pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>About Pharmacy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, iste totam facilis praesentium labore quod architecto assumenda fugiat eum commodi rerum excepturi id eius quasi exercitationem officia laudantium reiciendis eos?</p>
      </div>
      <div class="col-md-4">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, iste totam facilis praesentium labore quod architecto assumenda fugiat eum commodi rerum excepturi id eius quasi exercitationem officia laudantium reiciendis eos?</p>
      </div>
      <div class="col-md-4">
        <h2>Follow me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, iste totam facilis praesentium labore quod architecto assumenda fugiat eum commodi rerum excepturi id eius quasi exercitationem officia laudantium reiciendis eos?</p>
      </div>
    </div>
  </div>
</footer>
