<footer class="bg-dark text-light pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>About Pharmacy</h2>
        <p>Tại Pharmacy, mỗi dược sỹ luôn tận tâm phục vụ và được đào tạo để hoàn thành xuất sắc những sứ mệnh được giao.</p>
      </div>
      <div class="col-md-4">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, iste totam facilis praesentium labore quod architecto assumenda fugiat eum commodi rerum excepturi id eius quasi exercitationem officia laudantium reiciendis eos?</p>
      </div>
      <div class="col-md-4">
        <h2>Follow me</h2>
        <img src="./assets/img/logo/facebook.png">
        <img src="./assets/img/logo/instagram.png">
        <img src="./assets/img/logo/twitter.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, iste totam facilis praesentium labore quod architecto assumenda fugiat eum commodi rerum excepturi id eius quasi exercitationem officia laudantium reiciendis eos?</p>
      </div>
    </div>
  </div>
</footer>
